In [7]:
import seaborn as sns
import numpy as np

In [8]:
df_tips = sns.load_dataset("tips")
df_tips.dropna()
df_tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [9]:
np.std(df_tips["tip"])

1.3807999538298958

In [13]:
df_tips.describe()["tip"][2] == np.std(df_tips["tip"])

False

In [15]:
#testing another dataset
df_lifexp = sns.load_dataset("healthexp")
df_lifexp.dropna()
df_lifexp.describe()

             Year  Spending_USD  Life_Expectancy
count   275.00000    275.000000       275.000000
mean   1997.08000   2806.041796        77.920364
std      14.22887   2208.370191         3.275248
min    1970.00000    123.993000        70.600000
25%    1985.50000   1040.414000        75.550000
50%    1998.00000   2303.680000        78.100000
75%    2009.00000   4060.330500        80.600000
max    2021.00000  11859.179000        84.700000

In [17]:
Spending_std = np.std(df_lifexp["Spending_USD"])
Lifeexp_std = np.std(df_lifexp["Life_Expectancy"])

In [18]:
Spending_std == df_lifexp.describe()["Spending_USD"][2]

False

In [19]:
Lifeexp_std == df_lifexp.describe()["Life_Expectancy"][2]

False

In [20]:
print(Spending_std,Lifeexp_std)

2204.351315381648 3.269287363901894

**Clearly std from np.std is different from the describe(), and seems like np.std returns a smaller value than describe()**

In [21]:
data = df_lifexp["Life_Expectancy"]
data

0      70.6
1      72.2
2      71.9
3      72.0
4      70.9
       ...
270    82.3
271    80.4
272    84.7
273    77.0
274    80.9
Name: Life_Expectancy, Length: 275, dtype: float64

In [24]:
import math

def variance(data, ddof=0):
    n = len(data)
    mean = sum(data) / n
    return sum((x - mean) ** 2 for x in data) / (n - ddof)
# population standard deviation

def stdev(data):
    var = variance(data)
    std_dev = math.sqrt(var)
    return std_dev

In [25]:
stdev(data)

3.269287363901894

In [26]:
import statistics
statistics.stdev(data)

3.275247783369753

In [27]:
statistics.pstdev(data)

3.269287363901894

## **conclusion: np.std calculate the population standard deviation describe() calculate the sample standard deviation**

**Question: what's the difference between population stdev and Sample stdev?**

The larger the value of n is, the closer that the population and sample standard deviations will be.
"A sample standard deviation is a statistic. This means that it is calculated from only some of the individuals in a population. Since the sample standard deviation depends upon the sample, it has greater variability. Thus the standard deviation of the sample is greater than that of the population." https://www.thoughtco.com/population-vs-sample-standard-deviations-3126372

**Question: Then why do we use sample standard deviation?**

https://statistics.laerd.com/statistical-guides/measures-of-spread-standard-deviation.php